<div class="img-branch">
  <img src="/images/puppaspizza.JPEG" alt="Puppa's Pizza">
  {{#each restaurants}}
  <div class="name-branch">
    <a href="restaurants/{{name}}">{{name}}</a>
  </div>
  {{/each}}
  <h2>Pizza Menu:</h2>
  <ul>
    <li>Classic Loaf with Gourmet Beef</li>
    <li>Select Toppings with Tender Chicken & Cheese</li>
    <li>Succulent Beef & Slow Cooked Vegetables</li>
    <li>Bone</li>
  </ul>
</div>
