<div class="img-branch">
  <img src="/images/puppaspizza.JPEG" alt="Puppa's Pizza">
  {{#each restaurants}}
  <div class="name-branch">
    <a href="restaurants/{{name}}">{{name}}</a>
  </div>
  {{/each}}
  <a href="/hungry" class="stretch">Delivery?</a>
</div>
